<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Landmark Solutions | SDI Tensor 1</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" />

</head>
<body>
  <div class="container">
      <div class="dropzone" id="mydropzone"></div>
      <p>JPEG only. Maximum of 10 files per batch.</p>
      <h5>Results<button onclick="clearAll()"class="float-right">Clear Results</button></h5>
      <table id="results" class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Image</th>
          <th>WWPS</th>
          <th>GG</th>
          <th>ESS</th>
          <th>Unsure</th>
          <th>Action</th>
          <!-- <th>Last Name</th>
          <th>Username</th> -->
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<script>

function clearAll(){
  $('#results').find("tr:gt(0)").remove();
}
function removeRow(e){
  console.log(e)
  $(e.target).closest('tr').remove()
}

function addRow(file, response){
  $('#results > tbody:last-child').append(
            '<tr>'
            +'<td>'+file.previewTemplate.firstElementChild.innerHTML+'</td>'
            +'<td style="background-color:rgba(0,255,0,' + response.results.wwps + ')">' + response.results.wwps + '</td>'
            +'<td style="background-color:rgba(0,255,0,' + response.results.gg + ')">' + response.results.gg+'</td>'
            +'<td style="background-color:rgba(0,255,0,' + response.results.ess + ')">' + response.results.ess+'</td>'
            +'<td style="background-color:rgba(0,255,0,' + response.results.unsure + ')">' + response.results.unsure+'</td>'
            +'<td><button onclick="removeRow(event)">Remove</button></td>'
            +'</tr>')

}

Dropzone.options.mydropzone = false;

$("#mydropzone").dropzone({
    maxFiles: 10,
    addRemoveLinks: true,
    method: "post",
    acceptedFiles: "image/jpeg",
    url: "/",
    success: function(file, response){
        addRow(file, response)
    },
    complete: function(file) {
      this.removeFile(file);
    }
});




</script>
</body>
</html>
